[parameters]

## the strategy to select the two pairs forming H1 and H2
# OneClosestToMh  : take the pair closest to mH, then the other one
# BothClosestToMh : pairs that minimize the distance from mH in a 2D plane
# MostBackToBack  : the pairs that are more back-to-back
bbbbChoice = BothClosestToMh

[triggers]
makeORof = TRIGGER_TEST_1, TRIGGER_TEST_2