[general]

lumi = 1 # pb^-1
outputFolder = ./prova

# Comment out an entry if you don't want to run on it.
# NOTE; data gets simply plotted (1 event -> 1 entry in the histograms)
# while backgrounds and signals get scaled by weights, lumi, and normalisation from the histogram
data         = dati_test
# backgrounds  = bkg_test
# signals      = sig_test

variables    = H1_b1_pt, H1_b2_pt, H2_b1_pt, H2_b2_pt, H1_b1_ptRegressed, H1_b2_ptRegressed, H2_b1_ptRegressed, H2_b2_ptRegressed, H1_b1_deepCSV, H1_b2_deepCSV, H2_b1_deepCSV, H2_b2_deepCSV, H1_pt, H2_pt, HH_m, HH_pt, H1_bb_DeltaR, H2_bb_DeltaR, HH_2DdeltaM, H1_m, H2_m
variables2D  = H1_m:H2_m
selections   = selectionVtype, selectionJet, selectionLMR
regions      = Full, SR, SB

[configs]
sampleCfg = config/sampleCfg.cfg
cutCfg    = config/selectionCfg.cfg
